@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Thin/RobotoDraft-Thin.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Thin/RobotoDraft-Thin.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Thin/RobotoDraft-Thin.ttf?v=1.0.0) format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Light/RobotoDraft-Light.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Light/RobotoDraft-Light.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Light/RobotoDraft-Light.ttf?v=1.0.0) format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(RobotoDraft-Regular.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Regular/RobotoDraft-Regular.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Regular/RobotoDraft-Regular.ttf?v=1.0.0) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Italic/RobotoDraft-Italic.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Italic/RobotoDraft-Italic.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Italic/RobotoDraft-Italic.ttf?v=1.0.0) format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Medium/RobotoDraft-Medium.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Medium/RobotoDraft-Medium.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Medium/RobotoDraft-Medium.ttf?v=1.0.0) format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(RobotoDraft-Bold.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Bold/RobotoDraft-Bold.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Bold/RobotoDraft-Bold.ttf?v=1.0.0) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0) format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: RobotoDraft;
	src: url(fonts/robotodraft/Black/RobotoDraft-Black.woff2?v=1.0.0) format("woff2"), url(fonts/robotodraft/Black/RobotoDraft-Black.woff?v=1.0.0) format("woff"), url(fonts/robotodraft/Black/RobotoDraft-Black.ttf?v=1.0.0) format("truetype");
	font-weight: 900;
	font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	padding-left: 1%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
input[type=checkbox] {
	width: 10px;
}
select {
	height: 28px;
	padding-top: 3px;
}
option {
	width: inherit;
	padding: 5px;
}
input[type=radio] {
	width: inherit;
}
input[type=text], input[type=password] {
	width: 250px;
	height: 25px;
}
input[name=touring_code] {
	width: 150px;
}
input[name="bday[year]"] {
	width: 100px;
}
.config {
	text-align: left;
	border-collapse: collapse;
	line-height: 19px;
}
.formsubject {
	min-width: 25%;
	text-align: right;
	padding-right: 5px;
}
table td {
	padding: 3px;
	width: fit-content;
}
.errormsg {
	color: #FF4A4A;
	text-align: center;
}
.errormsg span {
	padding: 1px;
	display: block;
}
.errormsg p {
	background: url(../images/exclamation.png) 3px 6px no-repeat;
	padding-left: 20px;
	display: inline-block;
}
.nolimitSymbol {
	font-size: 14px !important;
	text-shadow: 0 1px 0 #fff !important;
}
#strengthBar {
	display: block;
	font-size: 11px;
	margin-left: 0px;
}
#pwstrengthpos {
	height: 14px;
}
#pwstrengthneg {
	height: 14px;
}
hr {
	border: none;
	border-bottom: #F96 1px solid;
}
.box2 {
	border-right: #3B3B3B 1px solid;
	border-top: #3B3B3B 1px solid;
	border-left: #3B3B3B 1px solid;
	border-bottom: #3B3B3B 1px solid;
}
h1 {
	font-size: 150%;
}
.spacer {
	display: block;
	float: left;
	padding-top: 5px;
	width: 100%;
	height: 10px;
}
.morespacer {
	display: block;
	float: left;
	padding-top: 30px;
	width: 100%;
	height: 20px;
}
span.space {
	margin-left: 7px;
	margin-right: 10px;
}
.nobold {
	font-weight: normal !important;
}
.bigTitle {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
}
a.add {
	background: url(../images/plus.png) no-repeat 0 2px;
	padding-left: 18px;
}
label.error {
	background: url(../images/exclamation.png) 3px 5px no-repeat;
	margin-left: 7px;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-decoration: none;
	width: auto;
}
.touring img {
	vertical-align: middle;
}
.noBg {
	background-image: none !important;
}
.warning {
	padding: 15px;
	font-size: 15px;
	text-align: center;
}
.divLeft {
	float: left;
	text-align: left;
}
.divRight {
	float: right;
	text-align: right;
	margin-right: 10px;
}
.right {
	text-align: right;
}
.tabButton {
	position: relative;
	top: 10px;
	float: right;
}
.indicatorImg {
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	border: 0;
	margin: auto;
}
.memberPaid {
	background: url(../images/icons/member_paid.png) 0 5px no-repeat;
}
.memberFree {
	background: url(../images/icons/member_free.png) 0 5px no-repeat;
}
.memberExpired {
	background: url(../images/icons/member_expired.png) 0 5px no-repeat;
}
.memberDisabled {
	background: url(../images/icons/member_disabled.png) 0 5px no-repeat;
}
.memberFullmatrix {
	background: url(../images/icons/member_fullmatrix.png) 0 5px no-repeat;
}
.center {
	text-align: center !important;
}
.justify {
	text-align: justify;
}
.egLink {
	background: url(../images/arrow.gif) 0 5px no-repeat;
	padding-left: 12px;
	margin-left: 7px;
}
.matrixList {
	float: left;
	width: 100%;
}
.matrixList .matrixLevel {
	float: left;
}
.matrixList .matrixCount {
	float: left;
	padding-left: 20px;
	background: url(../images/arrow-yellow.gif) 5px 5px no-repeat;
	width: 300px;
}

.aLink {
	cursor: pointer;
}
.egMatrix {
	position: relative;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 12px;
	color: #39F;
	padding: 1px;
	padding-right: 5px;
	margin-left: 7px;
	color: #F96 !important
}

.egMatrix:hover {
	background-color: #FFF4DF;
}

.egMatrix:a {
	color: #F96 !important
}

.stage-lg {
	height: 20px;
	width: 22px;
	margin-right: 3px;
	display: inline-block;
	background-image: url("../images/stages.png");
	background-size: 200px 20px;
	background-repeat: no-repeat;
}

.stage-lg1 {
	background-position: -1px top;
}

.stage-lg2 {
	background-position: -25px top;
}

.stage-lg3 {
	background-position: -51px top;
}

.stage-lg4 {
	background-position: -76px top;
}


.stage-lg5 {
	background-position: -101px top;
}

.stage-lg6 {
	background-position: -127px top;
}

.stage-lg7 {
	background-position: -152px top;
}

.stage-lg8 {
	background-position: -177px top;
}

.dtree .stage-lg-data {
	display: inline-block;
}

.dtree .stage-lgb {
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("../images/stages.png");
	background-size: 350px 40px;
	background-repeat: no-repeat;
	
}

.stage-lgb1 {
	background-position: 0px top;
}


.stage-lgb2 {
	background-position: -45px top;
}


.stage-lgb3 {
	background-position: -89px top;
}

.stage-lgb4 {
	background-position: -134px top;
}

.stage-lgb5 {
	background-position: -177px top;
}

.stage-lgb6 {
	background-position: -223px top;
}

.stage-lgb7 {
	background-position: -266px top;
}


.stage-lgb8 {
	background-position: -309px top;
}


.egInfo {
	position: relative;
	background: #F5F5F5 url(../images/icons/info.png) 5px 0px no-repeat;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 10px;
	color: #39F;
	padding: 1px;
	padding-right: 5px;
	padding-left: 25px;
	margin-left: 7px;
	border: 1px dashed #FC3;
	top: -5px;
}
.egNotice {
	position: relative;
	background: #F5F5F5 url(../images/icons/notice.png) 2px 0px no-repeat;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 10px;
	color: #39F;
	padding: 1px;
	padding-right: 5px;
	padding-left: 20px;
	margin-left: 7px;
	border: 1px dashed #FC3;
	top: -5px;
}
.memberStatus {
	position: relative;
	background: #F5F5F5 url(../images/icons/award.png) 2px 0px no-repeat;
	font-variant: small-caps;
	font-weight: bold;
	color: #39F;
	padding: 1px;
	padding-right: 5px;
	padding-left: 20px;
	border: 1px dashed #A5CBFA;
}
div.egContent {
	display: block;
}



.clearfix {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.egAdd {
	background: url(../images/icons/plus.png) 0 1px no-repeat;
	padding-left: 17px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: underline !important;
}
.buttonCancel {
	display: inline;
	text-align: left;
	margin-left: 80px;
	margin-right: 10px;
}
.eglist {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
/*toggle*/
.toggle-title {
	background-color: #F9F9F9;
	border: 1px solid #E7E7E7;
	margin: 5px 0 1px 0;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.folder-title {
	background: none !important;
	border: none !important;
	font-weight: bold;
}
.folder-title a {
	color: #666 !important;
}
.toggle-title a:hover {
	text-decoration: none
}
.open-toggle {
	float: left;
	width: 20px;
	height: 25px;
	line-height: 25px;
	margin: 0 10px;
	padding: 0;
	display: block;
	border: none;
	vertical-align: middle;
}
.open-toggle {
	background: url('../images/icons/close.png') no-repeat center
}
.closed {
	background: url('../images/icons/open.png') no-repeat center
}
.folder-toggle span.open-toggle {
	background: url('../images/icons/folder_lightbulb.png') no-repeat center;
}
.folder-toggle span.closed {
	background: url('../images/icons/folder_explore.png') no-repeat center;
}
.folder-toggle span.closed-folder {
	background: url('../images/icons/folder_explore.png') no-repeat center;
}
.toggle-content {
	background-color: #FFF;
	border: 1px solid #E7E7E7;
	padding: 5px 5px 5px;
	margin: 0 0 5px;
}
.folder-content {
	padding-left: 25px;
	background: none;
	border: none;
	margin: 0 0 5px;
}

.round5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.round3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.inline {
	display: inline-block;
}

/* Offline
================================================== */
body.offline {
	background: #fff url(../images/page_bg.png);
}

.maintenance {
	background: url(../images/maintenance.png) no-repeat center top;
	text-align: center;
	height: 350px;
	width: 100%;
	display: block;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

#offlineBox {
	border: 1px solid #999;
	width: 800px;
	margin: 5% auto 2px auto;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#offlineBox .header {
	width: 100%;
	height: 75px;
	background-color: #333;
	text-align: center;
	padding-top: 15px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #666;
}
#offlineBox .title {
	width: 100%;
	height: 45px;
	background-color: #666;
}
#offlineBox .pageTitle {
	background: url(../images/title.png) 10px 5px no-repeat;
	padding-left: 50px;
	float: left;
}
#offlineBox .pageTitle h2 {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

#offlineBox .content {
	width: 100%;
}
#offlineBox .footer {
	width: 100%;
	height: 50px;
	color: #fff;
	background-color: #666;
	line-height: 50px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
#offlineBox .footer a {
	color: #FFF !important;
}
#offlineBox .footer .copyright-info {
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 5px;
	text-shadow: 0 1px 0 #000;
}
#offlineBox .footer .software-info {
	display: inline-block;
	float: left;
	text-align: right;
	font-size: 11px;
	margin-left: 5px;
	text-shadow: 0 1px 0 #000;
}
#offlineBox .footer .software-info a {
	color: #ccc !important;
}

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #464646;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1 {
	font-size: 36px;
	line-height: 50px;
}
h2 {
	font-size: 25px;
	line-height: 40px;
}
h3 {
	font-size: 18px;
	line-height: 34px;
}
h4 {
	font-size: 16px;
	line-height: 30px;
}
strong {
	font-weight: bold;
	color: #333;
}
small {
	font-size: 80%;
}
.whiteBg {
	background-image: none !important;
	background-color: #fff !important;
}
.aHelp {
	font-size: 14px;
	font-weight: bold;
	color: #39F;
	padding: 5px;
	cursor: pointer;
}
.aHelp:hover {
	color: #F36;
}
.ajxFoot {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.plist {
	display: inline-block;
	background: url(../images/elist.png) 0 6px no-repeat;
	padding-left: 12px;
	margin-top: 3px;
}
.headTitle {
	padding-left: 15px;
	border-bottom: 1px dashed #666;
	font-size: 14px;
	color: #6A6A6A;
	font-size: 14px;
	background: url(../images/h-bg.png) no-repeat 0px 10px;
	margin-bottom: 5px;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
	padding: 5px;
}
.scrollbox img {
	float: right;
}
.limitCounter {
	margin-left: 5px;
	display: inline-block;
	height: 16px;
	background-color: #FFFFFF;
	width: 66px;
	border: solid 1px #CCCCCC;
	margin-right: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	visibility: hidden;
}
.limitCounter .count {
	float: left;
	width: 15px;
	border-right: solid 1px #CCCCCC;
	font-size: 8px;
	background-color: #FFFFFF;
	height: 16px;
	text-align: center;
}
.limitCounter .box {
	float: left;
	height: 16px;
	width: 50px;
}
.limitCounter .bar {
	width: 0px;
	height: 16px;
}
.Cmbarbox {
	height: 16px;
	width: 100px;
}
.CmProgressbar {
	width: 0px;
	height: 16px;
}
.vertBox label, .vertLine label {
	width: 40%;
}
/* Tree */

.TreeNode {
	background: #FFFFE8 url(../images/tree_bg.jpg);
	border: #3CF 1px solid;
	width: 150px;
	display: inline-block;
	cursor: pointer;
}

.TreeName {
	background: #EBF7FC;
	display: block;
	letter-spacing: 2px;
	border-top: #999 1px dotted !important;
	font-size: 10px;
	line-height: 16px;
	margin-top: 5px;
	color: #09F;
	text-shadow: 0 1px 0 #fff;

}
.TreeData {
	display: block;
	font-size: 11px;
	line-height: 16px;
	margin-top: 8px;
}

.TreeUpline {
	border: #999 1px dotted !important;
	color: #999;
	margin-bottom: 3px;
}

div#sTreeBox_0 {
	margin-top: 50px;
	text-align: center;
}
div#sTreeBox_0 div {
	margin: 0;
	padding: 0 10px;
	float: left;
}
div#sTreeBox_0 p {
	margin-bottom: 20px;
	margin-top: 4px;
}
div#sTreeBox {
	margin: 0 auto;
	display: table;

}
div#sTreeMain {
	width: 100%;
	white-space: nowrap;
}


/*hide content*/
.code-hide {
	background-color: #F9F9F9;
	border: 1px solid #E7E7E7;
	padding-left: 5px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.code-hide a:hover {
	text-decoration: none
}
.code-hidee {
	display: none;
}
.code-content {
	background-color: #FFF;
	border: 1px solid #E7E7E7;
	padding: 5px 5px 5px;
	margin: 0 0 5px;
	font-weight: bold;
}
.code-copy {
	background: url('../images/icons/copy.png') no-repeat center;
	float: right;
	height: 20px;
	width: 20px;
	line-height: 25px;
	clear: both;
	display: block;
	vertical-align: middle;
	cursor: pointer;
}
.status-enabled {
	background: url('../images/icons/enable.png') no-repeat center;
	height: 20px;
	width: 20px;
	line-height: 25px;
	clear: both;
	display: block;
	vertical-align: middle;
}
.status-disabled {
	background: url('../images/icons/disable.png') no-repeat center;
	height: 20px;
	width: 20px;
	line-height: 25px;
	clear: both;
	display: block;
	vertical-align: middle;
}

.input-search {
	background: #FFF url(../images/icons/seelist.png) no-repeat scroll 2px 4px !important;
	padding-left: 20px !important;
	display: inline;
	width: 100%;
}

.input-date {
	background: #FFF url(../images/icons/post_date.png) no-repeat scroll 2px 4px !important;
	padding-left: 20px !important;
	display: inline;
	width: 100%;
}
.input-category {
	background: #FFF url(../images/icons/category.png) no-repeat scroll 7px 8px !important;
	padding-left: 30px !important;
}

.bordered {
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.big-input {
	font-size: 14px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.postSearch {
	background-image:url(../images/icons/search.png);
	background-position: 10px 5px;
	background-repeat:no-repeat;

	padding: 7px;
	padding-left: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.def-bg {
background-color: #FEFDFC;
}

.def-border {
border: 1px solid #E3E3E3;
}


/* cart top info
================================================== */
.cart-top-info {
	position: absolute;
	background: url(../images/topcart.png) no-repeat !important;
	background-size: 45px 70px !important;
	width: 45px !important;
	height: 70px !important;
	margin-right: 20px;
	top: 0;
	right: 0;
	z-index: 9999999;
}
.cart-top-info .cart-top-info-icon {
	display: inline-block;
	float: left;
}
.cart-top-info .cart-top-info-item {
	display: inline-block;
	margin-top: 2px;
	color: #FFF;
	padding: 37px 24px 1px 14px;
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
}

/*************************************************************/
.ourProducts {
    background: #f4f2f2;
}

    .ourProducts h1 {
        text-align: center;
        text-transform: uppercase;
        color: #5c5c5c;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 52px;
        font-weight: normal;
        background: url(/imgs/line_grey.gif) repeat-x center center;
        display: block;
        line-height: 52px;
    }

        .ourProducts h1 span {
            display: block;
            background: #f4f2f2;
            padding: 5px;
            width: 300px;
            margin: 0 auto;
        }

        .ourProducts h1 strong {
            color: #f36c21;
        }

.productsGroup {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .productsGroup > div {
        position: relative;
        width: 31%;
        height: 370px;
        display: inline-block;
        margin: 15px 10px;
        padding: 0;
        background: #fff;
        border: 2pt solid transparent;
        vertical-align: top;
        box-sizing: border-box;
        transition: all .2s ease-in;
        display: none;
        border-radius: 10px;
    }

        .productsGroup > div:hover {
            border: 1pt solid #f36c21;
            box-shadow: 0 0 10px #9c9c9c;
        }

        .productsGroup > div img {
            width: 100%;
            height: auto;
        }

        .productsGroup > div h1 {
            position: relative;
            height: 34px;
            line-height: 34px;
            color: #fff;
            font-size: 22px;
            text-transform: uppercase;
            width: 90%;
            margin: 0 auto 0 auto;
            top: -17px;
            font-weight: normal;
            background: none;
            padding: 0;
            text-align: center;
            
        }

            .productsGroup > div h1 a {
                width: 100%;
                height: 34px;
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: .9em;
            }

        .productsGroup > div:nth-child(1) h1 a {
            background:  #FF0000;
        }

        .productsGroup > div:nth-child(2) h1 a {
            background:  #FF0000;
        }

        .productsGroup > div:nth-child(3) h1 a {
            background: #FF0000;
        }

        .productsGroup > div:nth-child(4) h1 a {
            background: #FF0000;
        }

        .productsGroup > div:nth-child(5) h1 a {
            background: #6c4731;
        }

        .productsGroup > div:nth-child(6) h1 a {
            background: #1CBCC3;
        }

        .productsGroup > div:nth-child(7) h1 a {
            background: #1e406e;
        }
        .productsGroup > div:nth-child(8) h1 a {
            background: #C5B358;
        }
        .productsGroup > div:nth-child(9) h1 a {
            background: #CD3E9D;
        }        

.shortDesc {
    padding: 0 15px;
    font-size: 13px;
}

a.viewmore {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 20px;*/
    display: block;
    text-align: center;
    clear: both;
    text-decoration: none;
    text-transform: uppercase;
    color: #f36c21;
    padding: 10px 10px 5px 10px;
}

#packschedule1, #packschedule1 th, #packschedule1 td {
  border: 2px solid #d19e12;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}
#packschedule1 th {
  background-color: #577e0a;
  color: white;
  font-weight: bold;
}


#packschedule2, #packschedule2 th, #packschedule2 td {
  border: 2px solid #d19e12;
  padding: 5px;
  text-align: left;
  border-collapse: collapse;
}
#packschedule2 th {
  background-color: #577e0a;
  color: white;
  font-weight: bold;
}